.dano{
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-bottom:5px solid rgb(125, 125, 125) ;
}

.build{
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-bottom:5px solid rgb(125, 125, 125) ;
}

.dano__row{
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 20px;
  justify-content: space-between;
}

.build__area{
  position: relative;
  width: 320px;
  height: 320px;
  border: 1px solid silver;
  margin-left: 200px;
}

.build__area::before{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 10px;
  height: 10px;
  background: #000;
}

.build__line{
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  height: 5px;
  width: 50%;
  /* transform: translateY(-50%); */
}

.build__line::before,.build__line::after{
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  width: 40px;
  height: 5px;
}

.build__line::before{
  transform: translate(-100%) rotate(20deg);
  top: -7px;
 
}

.build__line::after{
  transform: translate(-100%) rotate(-20deg);
  top: 7px;
}

.build__line--blue{
  background: blue;
}

.build__line--blue::before,.build__line--blue::after{
  background: blue;
}

.build__line--red{
  background: red;
}

.build__line--red::before,.build__line--red::after{
  background: red;
}

.build__line--green{
  width: 150%;
  left: 0;
  background: green;
}

.build__line--green::before,.build__line--green::after{
  background: green;
}

